
.tableHeader {
    /* background-color: #efebeb!important; */
    background-color:#9fc9f4!important;
    color: black!important;
    font-weight: bolder!important;
    font-size: 16px!important;
    /* width:15%!important; */
  }
  .headerIcons{
    width: 0.2%!important;
    background-color:#9fc9f4!important;
  }
  .tableCell {
    /* border: none!important; */
    /* width:5%!important; */
    /* margin-left: 50%!important; */

  }
  .outlinedInput{
    font-size: 16px!important;
    border:  1px solid rgb(19, 91, 235)!important;
    border-radius: 30px!important;
    width: 40%!important;
    margin-top: 1%!important;
    margin-bottom: 3%!important;
    left:15%!important;
    background-color: #f1f2f3;
  }
  
  .tableContainer {
  /* width: 100%;  
    margin-left: auto; 
    margin-right: 0;  */
  }
 .addWorkerButton{
    position: fixed!important;
    top:15vh!important;
    right:10%!important;
    border-radius: 8vh!important;
    height: 7vh!important;
    background-color:#f2f0f0!important;
    color: black!important;
    width:15vw!important;
    /* background-color:rgb(19, 91, 235)!important;    */
 }
 .tableRow:hover {
  background-color: #dfedf2;
}

 .scrollable-table {
    max-height: 70vh;
    width: 96vw!important;
    overflow-x: auto!important;
    margin-left: auto!important;
    margin-right: auto!important;  
}

.tableHead{
    width: 96vw!important;
    position: fixed;
    top:auto;
    z-index: 1000;
}
.inputForm{
    width:25vw!important;
}
.arrowIcon{
  margin-left:3%!important;
  position: absolute!important;
  top: 16%!important;
}
.headerPosition{
  background-color: #dfedf2;
  font-weight: bolder!important;
}
.addPositionButton{
border-radius: 10px!important;
border: 2px solid #5787b8!important;
margin-left:38%!important;
width: 11vw!important;
margin-top:3%!important;
margin-bottom: 3%!important;
}
.closeDrawerButton{
  background-color: transparent!important;
  color: #1682a9!important;
  border: 2px solid #1682a9!important;
  width: 10%!important;
  margin-top: 3%!important;
  margin-left:45% !important; 
  box-shadow: 0px 0px 2px 2px #101010(0, 0, 0, 0.5)!important; 
}
.closeDrawerButton:hover{
  background-color: #dfedf2!important;
}

  

  